/* Styling */
.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.button-description {
    font-size: 12px;
}
.button-description p {
    text-align: center;
}


/* Dropdown with inputs */
 .dropdown-checkboxes li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color 0.4s ease;
}

.dropdown-checkboxes li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.dropdown-checkboxes li.active label {
    background-color: #ced4da;
    font-weight:bold;
}

.dropdown-checkboxes li label:hover,
.dropdown-checkboxes li label:focus {
    background-color: #f5f5f5;
}

.dropdown-checkboxes li.active label:hover,
.dropdown-checkboxes li.active label:focus {
    background-color: #dee2e6;
}


/* Dropdown with inputs - Green color */
.dropdown-checkboxes.green-color li label {
    color: grey;
}

.dropdown-checkboxes.green-color li label:hover {
    background-color: #198754;
    color: #fff;
}

.dropdown-checkboxes.green-color li.active label {
    color: #fff;
    background-color: #198754;
    font-weight:bold;
} */

.dropdown-checkboxes.green-color li label:hover,
.dropdown-checkboxes.green-color li label:focus {
    background-color: #157347;
}

.dropdown-checkboxes.green-color li.active label:hover,
.dropdown-checkboxes.green-color li.active label:focus {
    background-color: #157347;
}

/* Dropdown with Buttons - Dark Color */

.dropdown-menu.dark-color {
    background-color: #212529;
}

.dropdown-menu.dark-color .dropdown-item {
    color: #fff;
}

.dropdown-menu.dark-color .dropdown-item:hover {
    background-color: #1c1f23;
}

.dropdown-menu.dark-color .dropdown-item:focus {
    background-color: #1c1f23;
}