.table tbody tr:hover {
    cursor: pointer;
}
/* Hidden row styling */
.container.hidden-div {
    padding: 0;
}

/* Transition during showing/hiding hidden row */
.hidden-row .hidden-div.hide-div {
    visibility: hidden;
    transition: visibility 0s, max-height 0.5s ease-out;
    max-height: 0;
}

/* single row height is 24px */
.hidden-row .hidden-div {
    visibility: visible;
    transition: visibility 0.5s 0.3s, max-height 0.4s linear;
    max-height: 140px;
}

.hidden-row td {
    padding: 0.5rem 0.5rem;
    transition: padding 0.2s linear;
}

.hidden-row td.padding-0 {
    padding: 0 0.5rem;
}

.fa-chevron-down {
    transition: all 0.2s linear; 
}

.fa-chevron-down.rotate {
    transform: rotate(-90deg);
    transition: all 0.2s linear;
}

/* speed-up/remove transition for smaller screens */
@media screen and (max-width: 992px) {
    .hidden-row .hidden-div {
        max-height: 600px;
        transition: visibility 0.5s 0.3s, max-height 0.4s linear;
    }
    .hidden-row .hidden-div.hide-div {
        transition: visibility 0s, max-height 0.2s ease-out;
    }
}

